%script{type:"text/javascript"}
  window.token = '<%= form_authenticity_token %>'
.container
  = link_to "Add Goal", new_goal_path
.container#goals
  %table
    %tr
      %th
        %i.icon-arrow-left{"ng-click" => "decreaseDate()"}
      %th{"ng-repeat"=>"date in dates"} {{ pad(date.getMonth()+1,2) }}/{{ pad( date.getDate(),2) }}
      %th
        %i.icon-arrow-right{"ng-click" => "increaseDate()"}
    %tr{"ng-repeat"=>"goal in goals"}
      %th {{ goal.name }}
      %td.goal-available{"ng-repeat"=>"date in dates", "ng-bind-html-unsafe" => "goalEntryIconsForDate( goal, date )", "ng-click"=>"goalEntryClick(goal,date)" }
      %td.disappear
        Checks: {{ checkCount( goal ) }}
        %br
        Current Chain: {{ currentChain( goal ) }}
        %br
        Longest Chain: {{ longestChain( goal ) }}
  = link_to "Archived Goals", archived_goals_path