/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "twitter/bootstrap";

#goals table {
  margin: 0;
  width: 100%;
}
#goals table .goal-available{
  cursor: pointer;
  background: #E2DDB5;
}
@media only screen and (max-width: 800px) {
  #goals table, 
  #goals thead, 
  #goals tbody, 
  #goals th, 
  #goals td, 
  #goals tr { 
    display: block; 
  }
  
  #goals .disappear {
    display: none;
  }
  
  #goals td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: normal;
    text-align:left;
  }
  
  #goals td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
   
  	/*
  	Label the data
  	*/
  #goals td:before { content: attr(data-date); }
}