!!! 5
%html{"ng-app"=>"goalsapp"}
  %head
    %title Goals
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
  %body{"ng-controller"=>"GoalsCtrl"}
    %header
      .container
        .pull-right
          - if current_user
            Welcome 
            =link_to current_user.email, edit_user_registration_path
            =link_to "My Goals", goals_path
            =link_to "Log Out", destroy_user_session_path
          - else 
            =link_to "Register", new_user_registration_path
            =link_to "Login", new_user_session_path
    = content_for?(:content) ? yield(:content) : yield

